.button {
  border-radius: 2rem;
  border: 2px dashed black;
  background-color: var(--color-yellow);
  padding: 0.65rem 1.5rem;
  font-size: 22px;
  font-weight: 600;
  color: black;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.button:hover {
  transform: translate(-4px, -4px);
  border-radius: 1rem;
  box-shadow: 4px 4px 0px black;
}

.button:active {
  transform: translate(0, 0);
  border-radius: 1rem;
  box-shadow: none;
}
