@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cell: #333;
  --yellow: #fcba28;
  --zink: #71717a;
}

.light:root {
  --cell: #dbdbd3;
  --zink: #a1a1aa;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(90deg, var(--cell) 1px, transparent 1px),
    linear-gradient(180deg, var(--cell) 1px, transparent 1px);
  background-size: 34px 34px;
  background-repeat: repeat;
  font-family: var(--font-sans);
  position: relative;
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - 184px);
}

.title,
.logo,
h1,
h2,
h3,
h4 {
  font-family: var(--font-mono);
}
h1 {
  font-size: 46px;
  line-height: 54px;
}
h2 {
  font-size: 38px;
  line-height: 42px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
}

.hero,
header,
footer {
  font-family: var(--font-sans);
}

.hero,
.stack,
.experience,
.projects,
.beyond,
.contacts {
  width: 100%;
  margin-top: -100px;
  padding-top: 130px;
}

.experience {
  padding-bottom: 120px;
}

.progress-bar {
  position: fixed;
  width: 150px;
  height: 150px;
  z-index: 11;
  width: 20px;
  border-width: 2px;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 0;
  bottom: 60px;
  top: auto;
}

.progress-bar:before,
.progress-bar:after {
  content: '';
  position: absolute;
  left: -19px;
  border-radius: 1px;
  width: 38px;
  height: 2px;
  background-color: black;
  top: 31px;
  display: block;
  z-index: 1;
}

.progress-bar:before {
  top: auto;
  bottom: 34px;
}

.progress-bar-item {
  width: inherit;
  height: inherit;
  transform-origin: 50% 100%;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.card-list:last-child .arr-icon {
  display: none;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 36px;
    line-height: 42px;
  }
  h2 {
    font-size: 28px;
    line-height: 36px;
  }

  h3 {
    font-size: 22px;
    line-height: 28px;
  }

  h4 {
    font-size: 20px;
    line-height: 26px;
  }

  main {
    min-height: calc(100vh - 210px);
  }

  .hero,
  .stack,
  .experience,
  .projects,
  .beyond,
  .contacts {
    margin-top: -80px;
    padding-top: 80px;
  }

  .experience {
    padding-bottom: 20px;
  }
}
