@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cell: #333;
}

.light:root {
  --cell: #dbdbd3;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(90deg, var(--cell) 1px, transparent 1px),
    linear-gradient(180deg, var(--cell) 1px, transparent 1px);
  background-size: 34px 34px;
  background-repeat: repeat;
  font-family: var(--font-sans);
}

.logo,
h1,
h2,
h3 {
  font-family: var(--font-mono);
}
h1 {
  font-size: 42px;
  line-height: 50px;
}
h2 {
  font-size: 36px;
  line-height: 44px;
}

.hero,
header,
footer {
  font-family: var(--font-sans);
}
